body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

#root {
  min-height: 100vh;
}

img {
  max-width: 100%;
}

code {
  font-family: "IBM Plex Mono", "SFMono-Regular", Consolas, monospace;
}

.map-container {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}
